<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forge Code Studio</title>
  <link rel="stylesheet" href="/css/style.home.css">
  <style>

  </style>
</head>
<body>
  <header>
    <nav>
      <span>Forge Code Studio</span>
      <div>
        <a href="/services">Servicios</a>
        <a href="/support">Soporte</a>
        <a href="/contact">Contacto</a>
        <a href="/login">Iniciar sesión</a>
        <a href="/users/register">Registrarse</a>
      </div>
    </nav>
  </header>

  <section class="hero">
    <h1>¡Bienvenido a Forge Code Studio!</h1>
  </section>

  <section class="about">
    <img class="imgH" src="/img/equipo.jpg" alt="Personas trabajando">
    <p>
      En ForgeCode Studio, nos especializamos en la creación de soluciones personalizadas 
      para pequeñas y medianas empresas, ayudándolas a destacar en el mundo digital. Nuestro 
      objetivo es brindar herramientas accesibles y efectivas que impulsen la visibilidad, 
      competitividad y crecimiento de las PyMEs en Xicotepec de Juárez. Creemos en el poder 
      de la tecnología para transformar negocios y construir un futuro más conectado y próspero.
    </p>
  </section>

  <section class="promo">
    <h2>¡Incrementa tus ganancias hasta un 25%!</h2>
    <p>Con nuestros paquetes el incremento de tus clientes está asegurado</p>
    <button>¡Saber más!</button>
  </section>
</body>
</html>
