body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #308AD9;
    color: white;
    padding: 10px 20px;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  header nav a:hover {
    text-decoration: underline;
  }
  .hero {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
  }
  .hero h1 {
    color: #008cff;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #8FBFD9;
    margin: 15px 15px 15px 15px;
  }
  .about img {
    width: 30%;
    height: auto;
  }
  .about p {
    max-width: 45%;
  }
  .promo {
    text-align: center;
    padding: 20px;
    background-color: #5E5042;
    color: white;
  }
  .promo button {
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    color: white;
    cursor: pointer;
  }
  .promo button:hover {
    background-color: #e68900;
  }
  .hexagon {
    width: 150px;
    height: 150px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    margin: auto;
  }

  .hexagon:hover {
    transform: scale(1.2);
  }

  .hexagon i {
    font-size: 2rem;
    color: #5bc0de;
  }

  .btn-service {
    margin-top: 10px;
    background-color: #45a5c500;
    color: rgb(0, 0, 0);
  border: 2px solid #ff9800;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .btn-service:hover {
    background-color: #ff9800;
  }

  .container {
    text-align: center;
    margin-top: 20px;
    background-color: #e7f4f9;
    padding: 20px;
    border-radius: 10px;
  }